html {
    background: #1c1c1c;
}
body {
    padding-top: 70px;
    /*background: #ffffff url('/static/graphic/background.png') repeat-x;*/
}
@media (max-width: 979px) {
    body {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}

pre {
    font-stretch: ultra-condensed;
    font-family: Consolas, monaco, monospace;
    font-size: 0.8em;
}
footer {
    background: #292727;
    margin: 40px 0 0;
    padding: 20px 0 15px;
    width: 100%;
    color: #ccc;
}
footer a:link, footer a:visited {
    color: #ccc;
    text-decoration: none;
}
footer a:hover {
    color: #ccc;
    text-decoration: underline;
}
#footer-extra {
    background: #1c1c1c;
    padding: 10px 0;
    font-size: 11px;
    color: #999;
}
#footer-extra a:link, #footer-extra a:visited {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}
#footer-extra a:hover {
    color: #ccc;
    text-decoration: underline;
}
.center {
    text-align: center;
}
.mono {
    font-family: monospace;
    word-wrap:break-word;
}
.content {
    background-color: white;
    padding: 40px;
    padding-top: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}
.section-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-bottom: 3px;
}
span.block-title {
    font-size: 18px;
    font-weight: bold;
}
img.opaque {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
img.opaque:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
img.screenshot {
    border: 1px solid #000000;
    margin: 0px 1px 2px 1px;
}
.gray {
    color: #666;
}
.table-centered {
    margin: 0 auto !important;
    float: none !important;
}
a.tag-label {
    color: white;
}

.file {
    background-color: #ffe3c5;
}
.registry {
    background-color: #ffc5c5;
}
.process {
    background-color: #c5e0ff;
}
.services {
    background-color: #ccc5ff;
}
.device {
    background-color: #ccc5ff;
}
.network {
    background-color: #d3ffc5;
}
.synchronisation {
    background-color: #f9c5ff;
}
.system {
    background-color: #fffcc5;
}
.windows {
    background-color: #ffc5ee;
}
.iexplore {
    background-color: #ccddbb;
}
.office {
    background-color: #ccddbb;
}
.pdf {
    background-color: #ccddbb;
}
.page-header {
    margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #efefef;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}
.table-responsive{
    overflow-x:scroll;
    width: 100%;
}
.fixed-table{
    border: 1px solid black;
  table-layout: fixed;
  width: 100%;
  height: 200px;
  border-collapse: collapse;
  overflow: scroll;
}
.loading{
    max-width:300px;
}
.checkmark-column {
    text-align: center;
}
/* Fix the icon tab override */
.nav-tabs > .active > a > [class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"] { background-image:url("../img/glyphicons-halflings.png") !important; }

td {
    word-wrap: break-word;
}

.tab-content {
    margin-top: 25px;
}

.row-active {
    background-color: #d9edf7;
}

.tcp-flow {
    list-style-type: none;
}
.tcp-flow li {
    margin-bottom: 20px;
}
.tcp-out {
}
.tcp-out pre {
    padding: 0;
    border: 0;
    background-color: white;
    color: #d9534f;
}
.tcp-in {
    padding-left: 100px;
}
.tcp-in pre {
    padding: 0;
    border: 0;
    background-color: white;
    color: #5bc0de;
}

.break-everywhere {
    word-break: break-all;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

/* Callouts */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.http {
    white-space:pre-wrap;
}

.sort_field {
    display: none;
}
.vtimage{
    margin-left:5px;
}
.forcewrap{
    word-wrap:break-word;
}
.forcewrap li {
    word-wrap:break-word;
}
.alignleft {
    float: left;
    width: 33%;
    text-align: left;
}
.aligncenter {
    float: left;
    width: 33%;
    text-align: center;
}
.alignright {
    float: left;
    width: 33%;
    text-align: right;
}
.tag {
	display: inline-block;
	padding: 2px 4px;
	/*font-size: 12px;*/
	line-height: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #888888;
    background-color: #339900;
    color: black;

}
.tag span{
     mix-blend-mode: difference;
    font-size: 11pt;
}
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
@media screen and (min-width: 767px) {
    .outerdiv {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }
}
@media screen and (max-width: 767px) {
  .alt-table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
    .alt-table-responsive table {
    table-layout: fixed;
    word-wrap: break-word;
}
}
@media (max-width: 1079px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
/*  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }*/
  .collapse.in{
      display:block !important;
  }
}