<div class="table-responsive">
<table class="table table-bordered " style="font-size:7pt">
    <thead>
        <tr>
            <th >Time &amp; API</th>
            <th >Arguments</th>
            <th >Status</th>
            <th >Return</th>
            <th >Repeated</th>
        </tr>
    </thead>
    <tbody>
    {% for call in chunk.calls %}
        <tr class="{{call.category}}" id="call_{{call.id}}">
            {% include "analysis/behavior/_api_call.html" %}
        </tr>
    {% endfor %}
    </tbody>
</table>
 </div>